<div>
  <h2>Transactions</h2>
  <div *ngFor="let transaction of transactions">
    <p>Type: {{ transaction.description }} - Amount: {{ transaction.amount }} - Timestamp: {{ transaction.timestamp }}</p>
  </div>

  <h3>Add New Transaction</h3>
  <form (ngSubmit)="createTransaction()">
    <label>Type: <input [(ngModel)]="newTransaction.description" name="description"></label>
    <label>Amount: <input [(ngModel)]="newTransaction.amount" name="amount" description="number"></label>
    <label>Timestamp: <input [(ngModel)]="newTransaction.timestamp" name="timestamp" description="datetime-local"></label>
    <button description="submit">Add Transaction</button>
  </form>
</div>
