<div *ngIf="customerDetail">
  <div class="button-row">
    <button mat-raised-button (click)="goToCustomers()"><mat-icon>arrow_back</mat-icon>Back to Customers</button>
  </div>
  <mat-card class="customer-detail-top">
    <mat-card-header>
      <h2>Customer Overview</h2>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="column">
          <div class="row">Name: {{customerDetail?.customer.name}}</div>
          <div class="row">Number of accounts: {{customerDetail.numberOfAccounts}}</div>
          <div class="row">Number of transactions: {{customerDetail.numberOfTransactions}}</div>
        </div>
        <div class="column">
          <div class="row">Total balance: {{customerDetail.totalBalance | currency:'USD':'symbol':'1.2-2' }}</div>
          <div class="row">Total spending limit: {{customerDetail.totalSpendingLimit | currency:'USD':'symbol':'1.2-2' }}</div>
          <div class="row" [ngClass]="getClass(customerDetail.creditRatio)">Credit utilization: {{ customerDetail.creditRatio | percent:'2.2-2' }}</div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <mat-tab-group>
        <mat-tab label="Accounts ({{customerDetail?.accounts.length}})">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Credit Card Number Column -->
            <ng-container matColumnDef="creditCardNumber">
              <th mat-header-cell *matHeaderCellDef> Credit Card Number </th>
              <td mat-cell *matCellDef="let account"> {{ account.creditCardNumber }} </td>
            </ng-container>

            <!-- Credit Card Type Column -->
            <ng-container matColumnDef="creditCardType">
              <th mat-header-cell *matHeaderCellDef> Credit Card Type </th>
              <td mat-cell *matCellDef="let account"> {{ account.creditCardType }} </td>
            </ng-container>

            <!-- Balance Column -->
            <ng-container matColumnDef="balance">
              <th mat-header-cell *matHeaderCellDef> Balance </th>
              <td mat-cell *matCellDef="let account"> {{ account.balance | currency:'USD':'symbol':'1.2-2' }} </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let account">
                <button mat-button color="primary" (click)="importTransactions(account)"><mat-icon>cloud_download</mat-icon>Import Transactions</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['creditCardNumber', 'creditCardType', 'balance', 'actions']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['creditCardNumber', 'creditCardType', 'balance', 'actions'];"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons=""
                         aria-label="Select page of elements">
          </mat-paginator>
        </mat-tab>
        <mat-tab label="Transactions ({{customerDetail?.transactions.length}})">
          <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
            <!-- Description Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description </th>
              <td mat-cell *matCellDef="let transaction"> {{ transaction.description }} </td>
            </ng-container>

            <!-- Amount Column -->
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef> Amount </th>
              <td mat-cell *matCellDef="let transaction"> {{ transaction.amount | currency:'USD':'symbol':'1.2-2' }} </td>
            </ng-container>

            <!-- Timestamp Column -->
            <ng-container matColumnDef="timestamp">
              <th mat-header-cell *matHeaderCellDef> Timestamp </th>
              <td mat-cell *matCellDef="let transaction"> {{ transaction.timestamp | date }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['description', 'amount', 'timestamp']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['description', 'amount', 'timestamp'];"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons=""
                         aria-label="Select page of elements">
          </mat-paginator>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
