<div>
  <h2>Dashboard</h2>

  <mat-grid-list cols="3">
    <mat-grid-tile>
      <canvas baseChart
              [data]="customerChartData"
              [options]="chartOptions"
              chartType="doughnut">
      </canvas>
    </mat-grid-tile>
    <mat-grid-tile>
      <canvas baseChart
              [data]="accountChartData"
              [options]="chartOptions"
              chartType="bar">
      </canvas>
    </mat-grid-tile>
    <mat-grid-tile>
      <canvas baseChart
              [data]="transactionChartData"
              [options]="chartOptions"
              chartType="line">
      </canvas>
    </mat-grid-tile>
  </mat-grid-list>
</div>
