<div>
  <h2>Dashboard</h2>

  <div>
    <h3>Customers Summary</h3>
    <canvas baseChart
            [data]="customerChartData"
            [options]="chartOptions"
            chartType="doughnut">
    </canvas>
  </div>

  <div>
    <h3>Accounts Summary</h3>
    <canvas baseChart
            [data]="accountChartData"
            [options]="chartOptions"
            chartType="bar">
    </canvas>
  </div>

  <div>
    <h3>Transactions Summary</h3>
    <canvas baseChart
            [data]="transactionChartData"
            [options]="chartOptions"
            chartType="line">
    </canvas>
  </div>
</div>
