<div>
  <h2>Customers</h2>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let customer">{{ customer.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let customer"><a routerLink="/customer-overview/{{customer.id}}">{{ customer.name }}</a></td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let customer">
        <button mat-button color="primary" (click)="editCustomer(customer)"><mat-icon>edit</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons=""
                 aria-label="Select page of elements">
  </mat-paginator>

  <div class="customer-form-container">
    <mat-card>
      <mat-card-header>
        <h3>{{ editingCustomer ? 'Edit Customer' : 'Add New Customer' }}</h3>
      </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="createCustomer()" class="customer-form">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="newCustomer.name" name="name">
          </mat-form-field>
          <div class="form-buttons">
            <button mat-raised-button color="primary" type="submit">{{ editingCustomer ? 'Update' : 'Add' }} Customer</button>
            <button mat-raised-button color="warn" type="button" *ngIf="editingCustomer" (click)="cancelEdit()">Cancel</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

</div>
